.title {
    color: black;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
}

body {
    margin: 0px;
    background-color: lightgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}